.cta-paragraph {
    display: flex;
    margin: auto;
}
.about .container {
    display: flex;
    flex-direction: column;
}
@media (min-width: 420px) {
    .cta-paragraph {
        max-width: 65ch !important;
        text-align: left !important;
    }
}