.cta-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
@media (min-width: 420px) {
    .hero .container {
        margin: auto;
    }
}