.cta-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
@media (max-width: 419px) {
    .send-btn {
    }
}
@media (min-width: 240px) {
    .send-btn {
    }
    .cta-div {
    }
}
@media (min-width: 420px) {
    .hero .container {
        width: 70%;
        margin: auto;
    }
    .cta-div {
    }
}