.footer {
    padding-top: var(--gap-in-sections);
    padding-bottom: var(--gap-in-sections);
}
@media (min-width: 420px) {
    .footer {
        padding-top: var(--gap-in-sections);
        padding-bottom: var(--gap-in-sections);
    }
}