.portfolio-pic img {
    width: 140px;
    aspect-ratio: auto;
}
.portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 420px) {
    .portfolio-pic img {
        width: 100%;
    }
    .portfolio .container {
        padding-left: 3vw;
        padding-right: 3vw;
        display: grid !important;
        grid-template-columns: repeat(3,1fr) !important;
    }
}
@media (min-width: 162px) and (max-width: 419px) {
    .portfolio .hero-wrapper {
        padding-top: 25px !important;
    }
    .portfolio .container {
        padding-top: 0 !important;
    }
}
@media (min-width: 420px) and (max-width: 4096px) {
    .portfolio .hero-wrapper {
        padding-top: 4vw !important;
    }
    .portfolio .container {
        padding-top: 0 !important;
    }
}