.portfolio-pic img {
    width: 140px;
    aspect-ratio: auto;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
}
.portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
}
.hero.portfolio .container {
    display: flex;
    flex-direction: column;
}
@media (min-width: 700px) {
    .portfolio-pic img {
        box-shadow: 1vw 1vw 2vw rgba(0,0,0,0.2) !important;
    }
}
@media (min-width: 420px) {
    .portfolio-pic img {
        width: 100%;
    }
    .portfolio .container {
    }
}
@media (min-width: 162px) and (max-width: 419px) {
    .portfolio .hero-wrapper {
    }
    .portfolio .container {
        padding-top: 0 !important;
    }
}
@media (min-width: 420px) and (max-width: 4096px) {
    .portfolio .hero-wrapper {
    }
    .portfolio .container {
        padding-top: 0 !important;
    }
}
.video-1 {
    height: 42.5vw !important;
    width: auto;
    aspect-ratio: 1920/1040 !important;
    height: auto;
    overflow: hidden;
    box-shadow: 1vw 1vw 2vw rgba(0,0,0,0.2) !important;
}