.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--gap-in-sections);
    max-width: var(--container-max-width);
    margin: auto;
}
@media (min-width: 420px) {
    .header {
        padding-top: var(--gap-in-sections);
        padding-bottom: var(--gap-in-sections);
    }
}