.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 6px;
}
@media (min-width: 420px) {
    .header {
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }
}