.hero-cta .cta-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
    padding: var(--gap-in-blocks);
    box-sizing: border-box;
    gap: var(--gap-in-blocks);
}
.cta-p {
    margin-top: 0;
    text-align: center;
}
.hero-cta {
    margin: auto;
}
label {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 420px) {
    .hero-cta {
        width: 100%;
    }
    .hero-cta .cta-block {
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .hero .container {
        padding-left: var(--gap-in-blocks);
        padding-right: var(--gap-in-blocks);
    }
}
.hero .hero-cta ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hero .hero-cta input {
    border: 2px solid var(--accent);
    appearance: none;
    cursor: pointer;
    flex-shrink: 0;
}
.hero .hero-cta input:checked {
    background-image: url('/assets/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
@media (max-width: 699px) {
    .hero .hero-cta input {
        width: 24px !important;
        height: 24px !important;
        margin-right: var(--gap-in-blocks) !important;
    }
}
@media (max-width: 4096px) {
    .hero .hero-cta input {
        width: 32px;
        height: 32px;
        margin-right: var(--gap-in-blocks);
    }
}
.fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}