.hero .container {
    display: flex;
    width: 100%;
}
.hero .container .block-2 {
    display: flex;
}
@media (max-width: 419px) {
    .hero .container {
        flex-direction: column;
    }
    .hero .container .block-1 {
        display: flex;
    }
    .hero .container .block-3 {
        display: none;
    }
}
@media (min-width: 420px) and (max-width: 4096px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        gap: 3vw;
    }
    .hero .container .block-1 {
        display: none;
    }
    .hero .container .block-2 {
        width: 40%;
    }
    .hero .container .block-3 {
        display: flex;
        width: 40%;
    }
}
@media (min-width: 420px) and (max-width: 699px) {
    .hero .container {
        
    }
}
.modal-type.visible {
    position: fixed;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    width: 80%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.wrapper.is-background {
    opacity: 0.5;
}
.btn-pic {
    width: 30px;
    aspect-ratio: auto;
}
.modal-type p {
    margin: 0;
    text-align: center;
}
.send-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fe8a69;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
@media (min-width: 700px) {
    .modal-type {
        width: 40% !important;
        box-shadow: 1vw 1vw 2vw rgba(0,0,0,0.2) !important;
    }
    .send-btn {
    }
    .btn-pic {
        width: 3vw !important;
    }
}
@media (min-width: 1280px) {
    .modal-type {
        width: 25% !important;
    }
}