.header .hero-left-logo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;margin-right: 0;
    text-decoration-line: underline;
    text-decoration-color: #fe8a69;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', Times, serif;
}
@media (min-width: 162px) and (max-width: 699px) {
    .header .hero-left-logo {
        font-size: 18px !important;
    }
}
@media (min-width: 420px) and (max-width: 4096px) {
    .header .hero-left-logo {
        font-size: 3vw;
        text-decoration-thickness: 0.4vw;
        text-underline-offset: 0.6vw;
        margin-top: 2vw;
        margin-left: 3vw;
    }
}