.hero-right-menu {
    cursor: pointer;
    padding-right: 6px;
}
.hero-full-right-menu ul {
    display: flex;
    flex-direction: row;
}
@media (min-width: 162px) and (max-width: 419px) {
    .header .hero-full-right-menu {
        display: none;
    }
}
@media (min-width: 420px) and (max-width: 1279px) {
    .hero-right-menu {
        width: 6vw;
        padding-right: 1.5vw;
    }
    .header .hero-full-right-menu {
        display: none;
    }
}
@media (min-width: 1280px) and (max-width: 4096px) {
    .header .hero-right-menu {
        display: none;
    }
    .header .hero-full-right-menu ul {
        gap: 3vw;
    }
    .header .hero-full-right-menu {
        padding-right: 1.5vw;
    }
}