.hero-right-menu {
    cursor: pointer;
    padding-right: var(--gap-in-blocks);
}
.hero-full-right-menu ul {
    display: flex;
    flex-direction: row;
}
@media (min-width: 162px) and (max-width: 419px) {
    .header .hero-full-right-menu {
        display: none;
    }
}
@media (min-width: 420px) and (max-width: 1279px) {
    .hero-right-menu {
        padding-right: var(--gap-in-blocks);
    }
    .header .hero-full-right-menu {
        display: none;
    }
}
@media (min-width: 1280px) and (max-width: 4096px) {
    .header .hero-right-menu {
        display: none;
    }
    .header .hero-full-right-menu ul {
        gap: var(--gap-in-sections);
    }
}