/* @media (max-width: 419px) { */
    .pic-1, .pic-2 {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-top: var(--gap-in-blocks);
    }
    .pic-1 img, .pic-2 img {
        object-fit: cover;
        box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
    }
/* } */
@media (min-width: 420px) {
    .pic-1, .pic-2 {
        margin-top: var(--gap-in-blocks);
    }
}