/* @media (max-width: 419px) { */
    .pic-1, .pic-2 {
        width: 100%;
        height: auto;
        overflow: hidden;
        box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
        margin-top: 2px;
    }
    .pic-1 img, .pic-2 img {
        object-fit: cover;
        aspect-ratio: 1/1;
    }
/* } */
@media (min-width: 420px) {
    .pic-1, .pic-2 {
        height: 42.5vw;
        margin-top: 0.5vw;
    }
}
.pic-2 {
    box-shadow: 1vw 1vw 2vw rgba(0,0,0,0.2) !important;
}