/* @media (max-width: 419px) { */
    .pic-1, .pic-2 {
        width: 100%;
        height: auto;
        overflow: hidden;
        box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
    }
    .pic-1 img, .pic-2 img {
        object-fit: cover;
        aspect-ratio: 1/1;
    }
/* } */
@media (min-width: 420px) {
    .pic-1, .pic-2 {
        height: 42.5vw;
    }
}
@media (max-width: 699px) {
    .video-1 {
        display: none;   
    }
}
@media (min-width: 700px) {
    .pic-1 {
        display: none;
    }
    .video-1 {
        height: 42.5vw !important;
        width: 100%;
        height: auto;
        overflow: hidden;
        box-shadow: 1vw 1vw 2vw rgba(0,0,0,0.2) !important;
    }
    .pic-2 {
        box-shadow: 1vw 1vw 2vw rgba(0,0,0,0.2) !important;
    }
    .video-1 video {
        object-fit: cover;
        aspect-ratio: 1/1;
    }
}