.hero .hero-cta ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hero .hero-cta ul li input {
    background-color: #fe8a69;
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.hero .hero-cta ul li input:checked {
    background-image: url('/assets/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.hero .hero-cta button {
    border: none;
    background-color: #fe8a69;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.hero .hero-cta .cta-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 16px 1px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.hero .hero-cta .cta-p {
    text-align: center;
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', Times, serif;
}
.hero .hero-cta ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero .hero-cta .cta-block {
    aspect-ratio: 1/0.7;
}
@media (min-width: 162px) and (max-width: 419px) {
    .hero .hero-cta {
        font-size: 12px;
    }
}
@media (min-width: 420px) and (max-width: 699px) {
    .hero .hero-cta {
        font-size: 12px;
    }
}
@media (min-width: 700px) and (max-width: 1279px) {
    .hero .hero-cta {
        width: 100%;
        height: auto;
    }
    .hero .hero-cta .cta-block {
        width: 100%;
        height: auto;
    }
    .hero .hero-cta ul li input {
        width: 2vw;
        height: 2vw;
    }
}
@media (min-width: 1280px) and (max-width: 1919px) {
    .hero .hero-cta {
        width: 100%;
        height: auto;
        font-size: 2vw;
    }
    .hero .hero-cta button {
        font-size: 2vw;
    }
    .hero .hero-cta .cta-block {
        width: 100%;
        height: auto;
    }
    .hero .hero-cta ul li input {
        width: 2vw;
        height: 2vw;
    }
}
@media (min-width: 1920px) and (max-width: 4095px) {
    .hero .hero-cta {
        width: 100%;
        height: auto;
        font-size: 2vw;
    }
    .hero .hero-cta button {
        font-size: 2vw;
    }
    .hero .hero-cta .cta-block {
        width: 100%;
        height: auto;
    }
    .hero .hero-cta ul li input {
        width: 2vw;
        height: 2vw;
    }
}
@media (min-width: 4096px) and (max-width: 4096px) {
    .hero .hero-cta {
        width: 100%;
        height: auto;
        font-size: 2vw;
    }
    .hero .hero-cta button {
        font-size: 2vw;
    }
    .hero .hero-cta .cta-block {
        width: 100%;
        height: auto;
    }
    .hero .hero-cta ul li input {
        width: 2vw;
        height: 2vw;
    }
}