.hero .hero-button {
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    font-weight: 400;
    z-index: 3;
    transition: all 0.3s ease;
    border: 1px solid #333333;
    background-color: transparent;
    color: black;
}
.hero .hero-button:hover {
    background-color: #333333;
    opacity: 0.5;
    color: #ffffff;
    cursor: pointer;
}
@media (min-width: 162px) and (max-width: 419px) {
    .hero .hero-button {
        font-size: 12vw;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        letter-spacing: 1px;
    }
}
@media (min-width: 420px) and (max-width: 699px) {
    .hero .hero-button {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        letter-spacing: 1px;
    }
}
@media (min-width: 700px) and (max-width: 1279px) {
    .hero .hero-button {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        letter-spacing: 1px;
    }
}
@media (min-width: 1280px) and (max-width: 1919px) {
    .hero .hero-button {
        font-size: 40px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        letter-spacing: 1px;
    }
}
@media (min-width: 1920px) and (max-width: 4095px) {
    .hero .hero-button {
        font-size: 80px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        letter-spacing: 2px;
    }
}
@media (min-width: 4096px) and (max-width: 4096px) {
    .hero .hero-button {
        font-size: 150px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        letter-spacing: 3px;
    }
}