.hero .container {
    display: flex;
}
.hero .container .block-2 {
    display: flex;
}
@media (min-width: 162px) and (max-width: 419px) {
    .hero .container {
        flex-direction: column;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        gap: 8vw;
    }
    .hero .container .block-1 {
        display: flex;
    }
    .hero .container .block-3 {
        display: none;
    }
}
@media (min-width: 420px) and (max-width: 4096px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        padding-top: 9.5vw;
        gap: 8vw;
    }
    .hero .container .block-1 {
        display: none;
    }
    .hero .container .block-2 {
        width: 40%;
    }
    .hero .container .block-3 {
        display: flex;
        width: 40%;
    }
}
@media (min-width: 420px) and (max-width: 699px) {
    .hero .container {
        padding-top: 13vw !important;
    }
}
#modal.visible {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    width: 80%;
    aspect-ratio: 1/1;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid black;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper.is-background {
    opacity: 0.5;
}