.hero .container {
    display: flex;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
@media (min-width: 162px) and (max-width: 419px) {
    .hero .container {
        flex-direction: column;
    }
    .hero .container .block-1 {
        display: flex;
    }
    .hero .container .block-3 {
        display: none;
    }
}
@media (min-width: 420px) and (max-width: 699px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .hero .container .block-1 {
        display: none;
    }
}
@media (min-width: 700px) and (max-width: 1279px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .hero .container .block-1 {
        display: none;
    }
}
@media (min-width: 1280px) and (max-width: 1919px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .hero .container .block-1 {
        display: none;
    }
}
@media (min-width: 1920px) and (max-width: 4095px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .hero .container .block-1 {
        display: none;
    }
}
@media (min-width: 4096px) and (max-width: 4096px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .hero .container .block-1 {
        display: none;
    }
}