.hero .container {
    display: flex;
}
.hero .container .block-2 {
    display: flex;
}
@media (min-width: 162px) and (max-width: 419px) {
    .hero .container {
        flex-direction: column;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
        gap: 8vw;
    }
    .hero .container .block-1 {
        display: flex;
    }
    .hero .container .block-3 {
        display: none;
    }
}
@media (min-width: 420px) and (max-width: 4096px) {
    .hero .container {
        flex-direction: row;
        justify-content: center;
        padding-top: 4vw;
        gap: 8vw;
    }
    .hero .container .block-1 {
        display: none;
    }
    .hero .container .block-2 {
        width: 40%;
    }
    .hero .container .block-3 {
        display: flex;
        width: 40%;
    }
}
@media (min-width: 420px) and (max-width: 699px) {
    .hero .container {
        padding-top: 13vw !important;
    }
}
#modal.visible {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    width: 80%;
    aspect-ratio: 1/1;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    /* border: 1px solid black; */
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}
.wrapper.is-background {
    opacity: 0.5;
}
.btn-pic {
    width: 30px;
    aspect-ratio: auto;
}
#modal p {
    margin: 0;
    text-align: center;
}
.send-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fe8a69;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    gap: 15px;
    cursor: pointer;
}
@media (min-width: 700px) {
    #modal {
        width: 40% !important;
        font-size: 2vw !important;
        padding: 1.5vw !important;
        gap: 1.5vw !important;
        box-shadow: 1vw 1vw 2vw rgba(0,0,0,0.2) !important;
    }
    .send-btn {
        font-size: 2vw !important;
        padding: 1.5vw !important;
        gap: 2vw !important;
    }
    .btn-pic {
        width: 3vw !important;
    }
}
@media (min-width: 1280px) {
    #modal {
        width: 25% !important;
    }
}