.services .figma-to-shopify-pic {
    overflow: hidden;
}
@media (min-width: 162px) and (max-width: 419px) {
    .services .figma-to-shopify-pic {
        width: 106px;
        height: 75px;
    }
    .services .figma-to-shopify-pic img {
        transform: scale(1);
        transform-origin: 15% 50%;
        object-fit: cover;
    }
}
@media (min-width: 420px) and (max-width: 699px) {
    .services .figma-to-shopify-pic {
        width: 283px;
        height: 73px;
    }
    .services .figma-to-shopify-pic img {
        transform: scale(1);
        transform-origin: 25% 50%;
        object-fit: cover;
    }
}
@media (min-width: 700px) and (max-width: 1279px) {
    .services .figma-to-shopify-pic {
        width: 596px;
        height: 148px;
    }
    .services .figma-to-shopify-pic img {
        transform: scale(1);
        transform-origin: 25% 50%;
        object-fit: cover;
    }
}
@media (min-width: 1280px) and (max-width: 1919px) {
    .services .figma-to-shopify-pic {
        width: 316px;
        height: 148px;
    }
    .services .figma-to-shopify-pic img {
        transform: scale(1);
        transform-origin: 25% 50%;
        object-fit: cover;
    }
}
@media (min-width: 1920px) and (max-width: 4095px) {
    
}
@media (min-width: 4096px) and (max-width: 4096px) {
    
}