@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/Inter_18pt-Regular.woff') format('woff'),
        url('/assets/Inter_18pt-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/CormorantGaramond-Regular.woff') format('woff'),
        url('/assets/CormorantGaramond-Regular.woff2') format('woff2');
}
@media (max-width: 161px) {
    .wrapper {
        display: none;
    }
    body {
        padding: 10px;
    }
    .width-text {
        display: inline;
    }
}
@media (min-width: 162px) and (max-width: 4096px) {
    .width-text {
        display: none;
    }
    body {
        margin: 0;
    }
}
@media (min-width: 4097px) {
    .wrapper {
        display: none;
    }
    body {
        padding: 100px;
    }
    .width-text {
        display: inline;
        font-size: 200px;
    }
}
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}
a:visited,a:hover,a:active {
    color: inherit;
    text-decoration: none;
}
#popup-menu.visible {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex !important;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 420px) {
    #popup-menu.visible {
        aspect-ratio: 1/1;
    }
}
@media (min-width: 700px) {
    #popup-menu.visible {
        aspect-ratio: 1/0.3;
    }
}
#popup-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}